	<div class="column span-4">
		<%= form.label :first_name %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :first_name %>
	</div>
	<div class="column span-4">
		<%= form.label :last_name %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :last_name %>
	</div>
	<div class="column span-4">
		<%= form.label :address_line1 %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :address_line1 %>
	</div>
	<div class="column span-4">
		<%= form.label :address_line2 %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :address_line2 %>
	</div>
	<div class="column span-4">
		<%= form.label :city %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :city %>
	</div>
	<div class="column span-4">
		<%= form.label :state %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :state %>
	</div>
	<div class="column span-4">
		<%= form.label :zip %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :zip %>
	</div>
	<div class="column span-4">
		<%= form.label :phone %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :phone %>
	</div>
	<div class="column span-4">
		<%= form.label :email %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :email %>
	</div>
	<div class="column span-4">
		<%= form.label :phone_calls %>
	</div>
	<div class="column span-8 last">
		<%= form.check_box :phone_calls %>
	</div>
	<div class="column span-4">
		<%= form.label :distribute_signs %>
	</div>
	<div class="column span-8 last">
		<%= form.check_box :distribute_signs %>
	</div>
	<div class="column span-4">
		<%= form.label :write_letters %>
	</div>
	<div class="column span-8 last">
		<%= form.check_box :write_letters %>
	</div>
	<div class="column span-4">
		<%= form.label :host_event %>
	</div>
	<div class="column span-8 last">
		<%= form.check_box :host_event %>
	</div>
	<div class="column span-4">
		<%= form.label :large_sign %>
	</div>
	<div class="column span-8 last">
		<%= form.check_box :large_sign %>
	</div>
	<div class="column span-4">
		<%= form.label :yard_sign %>
	</div>
	<div class="column span-8 last">
		<%= form.check_box :yard_sign %>
	</div>
	<div class="column span-4">
		<%= form.label :office_help %>
	</div>
	<div class="column span-8 last">
		<%= form.check_box :office_help %>
	</div>
	<div class="column span-4">
		<%= form.label :other %>
	</div>
	<div class="column span-8 last">
		<%= form.text_field :other %>
	</div>