<div class="column span-18 prepend-1 append-1 last">
<h2>Editing volunteer</h2>

<% form_for(@volunteer) do |f| %>
  <%= f.error_messages %>

  <%= render f %>

	<div class="span-13 prepend-5 last">
	<br>
	<%= f.submit 'Update' %>
	<% end %>
	
	</div>

<%= link_to 'Show', @volunteer %> |
<%= link_to 'Back', volunteers_path %>
</div>