<h2>Volunteer List</h2>
<div class="span-18 last">
<table>
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>City</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Active</th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%=h volunteer.first_name %></td>
    <td><%=h volunteer.last_name %></td>
    <td><%=h volunteer.city %></td>
    <td><%=h volunteer.phone %></td>
    <td><%= mail_to volunteer.email, volunteer.email %></td>
    <td><% if volunteer.active? %>
		Active
		<% else %>
		<% end %></td>
    <td><%= link_to 'Show', volunteer %></td>
    <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Destroy', volunteer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a Volunteer', new_volunteer_path %>
<br>
<%= link_to 'Export Mailing List', volunteers_path + ".csv"%>
</div>