<p>
  <b>First name:</b>
  <%=h @volunteer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @volunteer.last_name %>
</p>

<p>
  <b>Address line1:</b>
  <%=h @volunteer.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%=h @volunteer.address_line2 %>
</p>

<p>
  <b>City:</b>
  <%=h @volunteer.city %>
</p>

<p>
  <b>State:</b>
  <%=h @volunteer.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @volunteer.zip %>
</p>

<p>
  <b>Phone:</b>
  <%=h @volunteer.phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @volunteer.email %>
</p>

<p>
  <b>Token:</b>
  <%=h @volunteer.token %>
</p>

<p>
  <b>Active:</b>
  <%=h @volunteer.active %>
</p>

<p>
  <b>Phone calls:</b>
  <%=h @volunteer.phone_calls %>
</p>

<p>
  <b>Distribute signs:</b>
  <%=h @volunteer.distribute_signs %>
</p>

<p>
  <b>Write letters:</b>
  <%=h @volunteer.write_letters %>
</p>

<p>
  <b>Host event:</b>
  <%=h @volunteer.host_event %>
</p>

<p>
  <b>Large sign:</b>
  <%=h @volunteer.large_sign %>
</p>

<p>
  <b>Yard sign:</b>
  <%=h @volunteer.yard_sign %>
</p>

<p>
  <b>Office help:</b>
  <%=h @volunteer.office_help %>
</p>

<p>
  <b>Other:</b>
  <%=h @volunteer.other %>
</p>


<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>