<div class="span-16 prepend-2">
	<hr>
	<div class="span-12 last">
		<b>First name:</b>
		<%=h @volunteer.first_name %>
	</div>
	<div class="span-12 last">
		<b>Last name:</b>
		<%=h @volunteer.last_name %>
	</div>

	<div class="span-12 last">
		<b>Address line1:</b>
		<%=h @volunteer.address_line1 %>
	</div>

	<div class="span-12 last">
		<b>Address line2:</b>
		<%=h @volunteer.address_line2 %>
	</div>

	<div class="span-12 last">
		<b>City:</b>
		<%=h @volunteer.city %>
	</div>

	<div class="span-12 last">
		<b>State:</b>
		<%=h @volunteer.state %>
	</div>

	<div class="span-12 last">
		<b>Zip:</b>
		<%=h @volunteer.zip %>
	</div>

	<div class="span-12 last">
		<b>Phone:</b>
		<%=h @volunteer.phone %>
	</div>

	<div class="span-12 last">
		<b>Email:</b>
		<%=h @volunteer.email %>
	</div>

	<div class="span-12 last">
		<b>Token:</b>
		<%=h @volunteer.token %>
	</div>

	<div class="span-12 last">
		<b>Active:</b>
		<%=h @volunteer.active %>
	</div>

	<div class="span-12 last">
		<b>Phone calls:</b>
		<%=h "Yes" if @volunteer.phone_calls %>
	</div>

	<div class="span-12 last">
		<b>Distribute signs:</b>
		<%=h "Yes" if @volunteer.distribute_signs %>
	</div>

	<div class="span-12 last">
		<b>Write letters:</b>
		<%=h "Yes" if @volunteer.write_letters %>
	</div>

	<div class="span-12 last">
		<b>Host event:</b>
		<%=h "Yes" if @volunteer.host_event %>
	</div>

	<div class="span-12 last">
		<b>Large sign:</b>
		<%=h "Yes" if @volunteer.large_sign %>
	</div>

	<div class="span-12 last">
		<b>Yard sign:</b>
		<%=h "Yes" if @volunteer.yard_sign %>
	</div>

	<div class="span-12 last">
		<b>Office help:</b>
		<%=h "Yes" if @volunteer.office_help %>
	</div>

	<div class="span-12 last">
		<b>Other:</b>
		<%=h @volunteer.other %>
	</div>

	<div class="span-12 last">
		<br>
		<hr>
		<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
		<%= link_to 'Back', volunteers_path %>
	</div>
</div>