<p>
  <h2><%=h @issue.title %></h2>
  
</p>

<p>
  <%= @issue.body %>
</p>
<hr>
<p>
  <b>Active:</b> <%=h @issue.active %>
<br>
  <b>Order Number:</b> <%=h @issue.order_number %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>