<div class="span-18 last">
<h2>Mailing List Recipients</h2>

<table>
	<tr>
		<th>Email</th>
		<th>First</th>
	 	<th>Last</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<th>Active</th>
		<th>Edit</th>
		<th>Destroy</th>
	</tr>
	
<% @recipients.each do |recipient| %>
  <tr>
	<td><%= mail_to recipient.email, recipient.email %></td>
	<td><%= h recipient.first_name %></td>
 	<td><%= h recipient.last_name %></td>
	<td><%= h recipient.city %></td>
	<td><%= h recipient.state %></td>
	<td><%= h recipient.zip %></td>
	<td><% if recipient.active? %>
		Active
		<% else %>
		<% end %></td>
	<td><%= link_to "Edit", edit_recipient_path(recipient) %></td>
    <td><%= link_to 'Destroy', recipient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<br>
<%= link_to 'Export Mailing List', recipients_path + ".csv"%>
</div>