<h3>I want to Edit My Mailing List Entry :</h3>
<%= button_to 'Edit', edit_recipient_path(@recipient) %><br>
<hr>
<h3>I want to Unsubscribe:</h3>

<h5>We respect your privacy, please enter you email address to unsubscribe.</h5>

<%= form_tag("/recipients/#{@recipient.id}", :method => 'delete') %>
  <p>
    Email <%= text_field :form,:email %>
  </p>
    
  <p>
    <%= submit_tag 'Unsubscribe' %>
  </p>

<%= link_to 'Back', root_path %>