<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>EricLarson2010</title>

    <!-- Framework CSS -->
    <%= stylesheet_link_tag 'blueprint/screen', 'screen', :cache => "screen-all" %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'blueprint/ie', 'ie', :cache => "ie-all" %>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/print', 'print', :media => "print", :cache => "ie-print" %>
	<!-- Import fancy-type plugin for the sample page. -->
  <%= stylesheet_link_tag 'blueprint/plugins/fancy-type/screen', 'screen', :media => "screen, projection"%>
  <%= stylesheet_link_tag 'main', 'main' %>
  <%= javascript_include_tag :defaults, "ckeditor/ckeditor" %>
</head>

<body>
	<div class="container">
		
		<ul>
       		<li><%= link_to "Home", root_path %></li>
       		<li><%= link_to "About", about_path %></li>
       		<li><%= link_to "Issues", issues_path %></li>
			<li><%= link_to "Volunteer", new_volunteer_path %></li>
       		<% if current_user %>
       			<li><%= link_to "Admin", admin_path %></li>
       			<li><%= link_to "Logout", logout_path %></li>
       		<% else -%>
       			<li><%= link_to "Login", login_path %></li>
       			<% end %>
		</ul>

		<div class="span-24">
			<% if flash[:notice] %><div class="success"><%= flash[:notice] %></div> <% end %>
			<% if flash[:error] %><div class="error"><%= flash[:error] %></div> <% end %>
			<% if flash[:info] %><div class="notice"><%= flash[:info] %></div> <% end %>
		</div>  
		<%= yield %>
	</div>  <!-- end container -->
</body>
</html>