<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Larson for Michigan 72nd</title>
  <%= stylesheet_link_tag 'blueprint/screen', 'screen', :cache => "screen-all" %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'blueprint/ie', 'ie', :cache => "ie-all" %>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/print', 'print', :media => "print", :cache => "ie-print" %>
  <%= stylesheet_link_tag 'main', 'main' %>
  <%= javascript_include_tag :defaults, "ckeditor/ckeditor" %>

</head>
<body>
<div class="container showgrid">
  <div class="fs-content"> <!-- start fs-content -->
    <div class="fs-mainblock span-18 colborder">
		<div class="fs-header"> <!-- start fs-header -->
			<div class="fs-logo">
				<%= link_to "Eric Larson MD", root_path %>
			</div>
			
			<div class="fs-horiznav">
				<ul>
        		<li><%= link_to "Home", root_path %></li>
        		<li><%= link_to "About", about_path %></li>
        		<li><%= link_to "Issues", issues_path %></li>
				<li><%= link_to "Volunteer", volunteer_path %></li>
        		<% if current_user %>
          			<li><%= link_to "Admin", admin_path %></li>
          			<li><%= link_to "Logout", logout_path %></li>
        		<% else -%>
          			<li><%= link_to "Login", login_path %></li>
        			<% end %>
      			</ul>
			</div>
   		</div>  <!-- end fs-header -->
    
    	<div class="fs-featured"> <!-- start fs-featured -->

			<div class="fs-txt-featured span-3">Featured</div>  
    		<div class="fs-features span-15 last">  
        		<div class="fs-bigfeature">
        			<p style="color: green"><%= flash[:notice] %></p>
      				<%= yield %>
        		</div>  
        		<div class="fs-smfeatures"><!-- s: fs-smfeatures -->  
            		<div class="span-5">sm feature</div>  
            		<div class="span-5">sm feature</div>  
            		<div class="span-5 last">sm feature</div>  
        		</div><!-- e: fs-smfeatures -->  
    		</div>  
			
    </div> <!-- end fs-featured -->

	</div> <!-- end fs-mainblock -->

	<div class="fs-sidebar span-5 last"> <!-- start sidebar -->
		<div class="fs-recentposts">
			Recent Posts
		</div>
		<div class="fs-newsbox">
			News
		</div>
	</div> <!-- end sidebar -->
  </div> <!-- end fs-content -->
	
    


  <div class="clear"></div>  
      
    <div class="fs-footer span-24"> <!-- start footer  -->
        <p>(c) Copyright 2008-present, This blog</p>  
    </div>  <!-- end footer -->
    <br/>  
</div>  <!-- end container -->
</body>
</html>
